name: "Export"

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  Export:
    runs-on: windows-latest   # alternate runner OS is: ubuntu-latest
    env:
      RUNNER_DEBUG: 1

    steps:

    - uses: actions/checkout@v3
      with:
        lfs: true

    - name: who-am-i action
      uses: microsoft/powerplatform-actions/who-am-i@0.4.0
      with:
        environment-url: 'https://org3e35abfc.crm17.dynamics.com'
        user-name: 'algattik@oneweekbreathe.onmicrosoft.com'
        password-secret: ${{ secrets.password }}

    - name: Export Solution
      uses: microsoft/powerplatform-actions/export-solution@0.4.0
      with:
        environment-url: 'https://org3e35abfc.crm17.dynamics.com'
        user-name: 'algattik@oneweekbreathe.onmicrosoft.com'
        password-secret: ${{ secrets.PASSWORD }}
        solution-name: Breathe
        solution-output-file: 'Breathe.zip'
        working-directory: 'out'

    - name: unpack-solution action
      uses: microsoft/powerplatform-actions/unpack-solution@0.4.0
      with:
        solution-file: 'out/Breathe.zip'
        solution-folder: 'unpacked/Breathe'
        solution-type: 'Unmanaged'
        overwrite-files: true

    - name: branch-solution, prepare it for a PullRequest
      uses: microsoft/powerplatform-actions/branch-solution@0.4.0
      with:
        solution-folder: 'unpacked/Breathe'
        solution-target-folder: 'src'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        allow-empty-commit: true
